@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'pingFang';
  src: url('../public/PingFang-medium.ttf');
} */

.MuiList-root hr:last-child {
  display: none;
}
.MuiList-root hr {
  opacity: 0.4;
}
.MuiListItem-divider {
  /* border-bottom: 1px solid rgba(255, 255 255, 0.01) !important; */
}
.red-gradient{
  background: linear-gradient(177.81deg, #FF5440 1.84%, #FB7C62 14.57%, #FEFCFB 32.84%), #FFFFFF;
}
/* .comment-detail-header {
  background: linear-gradient(to bottom, #ffc285 40%, #ffdbba 60%);
  border-radius: 8px 0px 0px 0px;
} */
