@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'pingFang';
  src: url('../public/PingFang-medium.ttf');
} */

.MuiButtonBase-root{
  min-width: 'none'!important;
}