@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'pingFang';
  src: url('../public/PingFang-medium.ttf');
} */

.MuiList-root hr:last-child {
  display: none;
}
.MuiList-root hr {
  opacity: 0.4;
}
.MuiListItem-divider {
  /* border-bottom: 1px solid rgba(255, 255 255, 0.01) !important; */
}
.red-full-gradient {
  background: linear-gradient(
    269.61deg,
    #ffeab1 -7.12%,
    #ff7978 14.91%,
    #fe543b 95.99%,
    #fe533a 96%
  );
}
.red-gradient {
  background: linear-gradient(
      177.81deg,
      #ff5440 1.84%,
      #fb7c62 14.57%,
      #fefcfb 32.84%
    ),
    #ffffff;
}
.org-gradient {
  background: linear-gradient(180deg, #ff760f 0%, #ffa139 100%);
  z-index: -100;
}
.youni-vip{
  background: linear-gradient(0deg, #FEE277 0%, #FED74C 100%);
}
.yellow-gradient {
  background: linear-gradient(63.15deg, #ffc400 18.1%, #fee278 99.27%);
  color: #b38314;
}
.blue-gradient {
  background: linear-gradient(41.99deg, #1c6cff 7.11%, #508aff 90.46%);
  color: #fff;
}
.purple-gradient {
  background: linear-gradient(41.99deg, #813fff 7.11%, #9c77ff 90.46%);
  color: white;
}
.tag-red {
  border: 1px solid #ffc1ba;
  color: #ff4241;
}
.tag-blue {
  border: 1px solid #b0caff;
  color: #3665ff;
}
.z-bg {
  z-index: -99;
}
.btn-enter {
  transform: translate(100%, 0);
  opacity: 0;
}

.btn-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms;
}

.btn-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.btn-exit-active {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}
.title-enter,
.title-appear {
  opacity: 0;
  transform: scale(0.8);
}

.title-enter-active,
.title-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.title-exit {
  opacity: 1;
}

.title-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
}
.bg-white-mask {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* .mask{
  -webkit-mask-image: linear-gradient(to top,#000,transparent);
} */
/* .comment-detail-header {
  background: linear-gradient(to bottom, #ffc285 40%, #ffdbba 60%);
  border-radius: 8px 0px 0px 0px;
} */

.mySwiper {
  padding: 10px;
}

.post-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: justify;

  /* 主要颜色 */

  color: #37455c;
}
