.valid  .rv-uploader__preview-image{
    --rv-uploader-size:"100%" !important;

}
.valid .rv-uploader{
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.valid .Popup{
    background: rgba(0, 0, 0, 0.6);
}
.valid .rv-overlay{
    background: rgba(0, 0, 0, 0.15) !important;
    z-index: 19999 !important;
    height: 100% !important;
    backdrop-filter: none !important;
}
.post .swiper-pagination-bullet-active{
    background: #FFD036 !important;
}
.post .swiper{
    overflow: visible;
    overflow-y: visible;
    /* overflow-x: hidden; */
}
.post .swiper-wrapper{
    overflow: hidden;
}
.post .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -20px;
}
.post .swiper-pagination-bullet{
    background: #E1E3E7;
}
.Popup {
    z-index: 99999  !important;
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.15);
}

