.valid  .rv-uploader__preview-image{
    --rv-uploader-size:"100%" !important;

}
.valid .rv-uploader{
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.valid .Popup{
    background: rgba(0, 0, 0, 0.6);
}
.valid .rv-overlay{
    background: rgba(0, 0, 0, 0.15) !important;
    z-index: 19999 !important;
    height: 100% !important;
    backdrop-filter: none !important;
}
.post .swiper-pagination-bullet-active{
    background: #FFD036 !important;
}
.post .swiper{
    overflow: visible;
    overflow-y: visible;
    /* overflow-x: hidden; */
}
.post .swiper-wrapper{
    overflow: hidden;
}
.post .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -20px;
}
.post .swiper-pagination-bullet{
    background: #E1E3E7;
}
.Popup {
    z-index: 99999  !important;
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.15);
}

.term-pick .rv-input__control{
 text-align: right;   
}

.preview .rv-image--block{
    width: none !important;
    height: none !important;
    overflow: hidden;
}
.contact .rv-input__control{
    color:#37455C !important;
    font-weight: 500 !important;
}
.contact-false .rv-input__control{
    color:#A9B0C0 !important;
    font-weight: 500 !important;
}

.upload-custom-img .rv-uploader__input{
    width: 100%;
    height: 16px;
    position: absolute;
}
.upload-custom-img .rv-uploader__upload svg{
    display: none;    
}
.upload-custom-img{
    position: absolute;
    left: 0px;
    /* top: 0px; */
    /* top: -10px; */
    height: 38px;
}
.upload-custom-img .rv-uploader__upload {
    width: 100vw;
    height: 8px;
    position: absolute;
    left: 0px;
    z-index: 99;

}